/* Add here all your css styles (customizations) */

.navbar-default, .navbar-header, .navbar-brand {
    height:80px !important;
}

a.navbar-brand{
    top:10px !important;
    margin-left:0 !important;
}
#logo-header{
    width: 60px !important;
}
#logo-footer {
    width: 30px !important;
}
#brand-header {
    font-size:1.5em !important;
    display: inline-block;
    margin-left: 10px;
}
